<ion-view title="About... ;)" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="about-list5" class=" ">
            <ion-item class="item-icon-left  " id="about-list-item21" ui-sref="bEST">
                <i class="icon ion-information-circled"></i>About BEST</ion-item>
            <ion-item class="item-icon-left  " id="about-list-item22" ui-sref="eBEC">
                <i class="icon ion-image"></i>About EBEC</ion-item>
            <ion-item class="item-icon-left  " id="about-list-item23" ui-sref="welcomeToBelgrade">
                <i class="icon ion-help"></i>About Belgrade</ion-item>
        </ion-list>
    </ion-content>
</ion-view>