<ion-view title="BEST" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
       <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
       <ion-slide-box on-slide-changed="slideHasChanged($index)">     
      <ion-slide>       
            <img src="img/slika111.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">       
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <p id="bEST-markdown7" style="color:#AAA9A9;font-size:20px;" class=" ">
            <strong>BEST</strong>(Board of European Students of Technology) is a constantly growing non-profit and non-political organisation. Since 1989 we provide communication, co-operation and exchange possibilities for students all over Europe. 95 Local
            BEST Groups (LBGs) in 33 countries are creating a growing, well organised, powerful, young and innovative student network.</p>
        <div class="spacer" style="width: 300px; height: 36px;"></div>
      </ion-slide>

      <ion-slide>
        <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
           <img src="img/slika222.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <p id="bEST-markdown8" style="color:#AAA9A9;font-size:20px;" class=" ">
            <strong>BEST</strong>  strives to help European students of technology to become more internationally minded, by reaching a better understanding of European cultures and developing capacities to work on an international basis. Therefore we create opportunities
            for the students to meet and learn from one another through our academic and non-academic events and educational symposia. "Learning makes the master", but the final goal is a good working place, therefore we offer services like an international
            career centre to broaden the horizons for the choice on the job market. Our priority is to offer high quality services for students all over Europe. Thus, we manage to bring all the partners in the "student - company - university" triangle
            closer.</p>
             <div class="spacer" style="width: 300px; height: 50px;"></div>
         </ion-slide>
         </ion-scroll>
        </ion-slide-box>
    </ion-content>
</ion-view>