<ion-view title="Contact organizers" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="contactOrganizers-list2" class=" ">
            
            <ion-item class="item-avatar item-icon-right  " id="contactOrganizers-list-item9" href="tel:+381641770234">
                <h2>Teodora Pavlovic</h2>
                 <p>Main Organizer</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            
            <ion-item class="item-avatar item-icon-right  " id="contactOrganizers-list-item10" href="tel:+381638866249">            
        
                <h2>Bojana Berdic</h2>
                <p>Participant responsible</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="contactOrganizers-list-item11" href="tel:+381638866249">
                <h2>Marko Ilic</h2>
                <p>Logistics</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="contactOrganizers-list-item12" href="tel:">
                <h2>Pax neki tamo</h2>
                    <p>PAX asistant</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
             <ion-item class="item-avatar item-icon-right  " id="contactOrganizers-list-item15" href="tel:">
                <h2>Pax neki tamo</h2>
                <p>PAX asistant</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>