<ion-view title="EBEC" id="page9" class=" ">
    <ion-content padding="true" class="has-header">   
       <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>  
        <ion-slide-box on-slide-changed="slideHasChanged($index)">

      <ion-slide>
        <div class="ebec">
            <img src="img/w8MEUNG6SQ69QXx4hLcO_1fLSOehXRfuBYY14WwfN_logo_ebec_big.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
            <p id="eBEC-markdown9" style="color:#AAA9A9;font-size:20px;" class=" "><strong>EBEC </strong>is the BEST Engineering Competition in Europe, conducted by students for students.Teams that are composed by 4 students from technology fields, regardless of status of their degree, are challenged to solve the tasks that are provided by BEST
            in 3 different competition levels. The team which proves to be the most efficient, creative and successful at the end of competition finale is granted by “BEST Engineers of Europe” title.</p>       
    </ion-slide> 
    <!--next slide -->        
        
    <ion-slide>
     <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
         <img src="img/slika66.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>   
    <div class="spacer" style="width: 300px; height: 52px;"></div>  
    
        <p id="eBEC-markdown10" style="color:#AAA9A9;font-size:20px;" class=" ">EBEC project begins functioning every year by the first Local EBEC Round that is conducted in Europe; afterwards moving onwards with several other Local EBEC Rounds as well as National/Regional EBEC Rounds and reaches an end by a EBEC Final event
            that is organised in beginning of August.</p>
    </ion-slide>

    <ion-slide>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <img src="img/slika55.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    
    <div class="spacer" style="width: 300px; height: 52px;"></div>      
        <p id="eBEC-markdown11" style="color:#AAA9A9;font-size:20px;" class=" ">The history of the EBEC started with its launch in 2002 when BEST members became interested in Canadian Engineering Competition (CEC) - the prototype of the EBEC in Canada. The idea of the student`s competition was presented at following General
            Meeting of BEST and was initiated at BEST universities right afterwards.</p>
    </ion-slide>

    <ion-slide>
     <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
           <img src="img/slika44.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 52px;"></div>       
        <p id="eBEC-markdown12" style="color:#AAA9A9;font-size:20px;" class=" ">The realisation of EBEC Final event is only possible by cooperation of supporters, partners and several internal bodies of BEST that are involved in the preparations. Therefore during the event, considerable amount of people are taking part in the organisation of activities that are offered to finalists. There are more than 60 local and international members of BEST, who dedicate their full time in providing top quality organisation to finalists that participate in the competition.            Ranging from logistics to media relations, every single activity is planned and managed in details so that finalists can enjoy the unique experience of EBEC Final event.</p>
        </ion-scroll>
    </ion-slide>

    <ion-slide>
     <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
            <img src="img/WNOf0lSmTFyEL0FKOkXQ_slika22.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>  
        <div class="spacer" style="width: 300px; height: 52px;"></div>     
        <p id="eBEC-markdown13" style="color:#AAA9A9;font-size:20px;" class=" ">
            <strong>Jury</strong>- Fairness and transparency is a key figure in any contest, therefore we always position external professors, experts and company representatives who possess deep knowledge about the given competition task in order to assess the
            solution of finalists in best possible way. 
            <br/> <br/>
            <strong>Companies</strong>- We believe the engineering studies must not be placed far from the industry and latest technological trends. Therefore having companies present in the event ensures the tasks are oriented to current problems that the world
            faces nowadays and the enthusiastic minds of Europe meet their future corporations as early as possible.</p>
     </ion-scroll>
    </ion-slide>
        
    <ion-slide>  
     <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
            <img src="img/cshI134oS9qzl9tQrJ2W_slika11.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <p id="eBEC-markdown14" style="color:#AAA9A9;font-size:20px;" class=" ">Supporters - The project itself is conducted for students, by students. BEST is a non-profit, non-political organisation; therefore we always seek support from the institutions that are willing to recognise our efforts, share our vision to create an impact on Europe and its citizens. In return, we promote their means of support in our media channels and ask the representatives kindly to honour us by their presence or a speech on Official Opening or Official Closing Day of EBEC Final event.</p>
    </ion-scroll>
    </ion-slide>

    <ion-slide>
        <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
        <div class="">
            <img src="img/dsqexrDVTR6hfB5dEX2H_slika33.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <p id="eBEC-markdown15" style="color:#AAA9A9;font-size:20px;" class=" ">
            <strong>EBEC Final</strong>  event is organised every year after the second level of competitions as the peak gathering for the finalists that are confident in teamwork, creativity and innovative approach to problems in society or industry.</p>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
     </ion-scroll>
    </ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>