<ion-view title="EBEC FINAL" id="page1" style="background-color:#BEC1CC;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/1fLSOehXRfuBYY14WwfN_logo_ebec_big.png" width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="eBECFINAL-list1" class=" ">
            <ion-item class="item-icon-right  " id="eBECFINAL-list-item5" ui-sref="maps">Where am I!?!
                <i class="icon ion-map"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="eBECFINAL-list-item4" ui-sref="contactOrganizers">Contact
                <i class="icon ion-android-contacts"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="eBECFINAL-list-item2" ui-sref="schedule">Schedule
                <i class="icon ion-android-time"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="eBECFINAL-list-item20" ui-sref="about">About
                <i class="icon ion-ios-book"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="eBECFINAL-list-item3" ui-sref="rules">Rules
                <i class="icon ion-quote"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="eBECFINAL-list-item1" ui-sref="taxify">Taxify
                <i class="icon ion-model-s"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
