<ion-view title="Rules" id="page7" class=" ">
   <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
    <ion-content padding="true" class="has-header">     
   
        <p>Neki tekstic ce ici pre ovoga i ne bilo lose da nadjemo neki dobar backgruoud za to</p>
        <h2 style="display: block; margin-left:80px; margin-right: auto;"> <a href="https://drive.google.com/file/d/0B7r_q5LdAEuJTnktNlQ5d0xSSWs/view?usp=sharing"> DOWNLOAD </h2>

    </ion-content>
</ion-view>