<ion-view title="Schedule" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
         <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
        
        <body ng-controller="MainCtrl">
        
            <ion-side-menus>
             
            <ion-side-menu-content>
                
                <ion-header-bar class="bar-positive">
                
                    <div class="buttons">
                    
                   <button class="button icon button-clear ion-navicon-round" ng-slide="toggleLeft()"></button>
                    
                    </div>
                    
                    <h1 class="title">Timetable </h1>
                    
                </ion-header-bar>
                
            </ion-side-menu-content>
                
                <ion-side-menu side="left">
                
                    <ion-list>
                        <ion-item ui-sref="day1">Monday 01.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day2">Tuesday 02.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day3">Wednesday 03.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day4">Thursday 04.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day5">Friday 05.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day6">Saturday 06.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day7">Sunday 07.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day8">Monday 08.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day9">Tuesday 09.08.</ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item ui-sref="day10">Wednesday 10.08.</ion-item>
                    </ion-list>
                
                </ion-side-menu>
                
            </ion-side-menus>
            
            <script src="/js/ionic.bundle.js"></script>
            <script src="/js/app.js"></script>
            
        </body>
        
    </ion-content>
    

    
</ion-view>