<ion-view title="Schedule" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="day1" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Monday, 01.08.</ion-item>
            <ion-item ui-sref="day2" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Tuesday, 02.08.</ion-item>
            <ion-item ui-sref="day3" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Wednesday, 03.08.</ion-item>
            <ion-item ui-sref="day4" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Thursday, 04.08.</ion-item>
            <ion-item ui-sref="day5" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Friday, 05.08.</ion-item>
            <ion-item ui-sref="day6" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Saturday, 06.08.</ion-item>
            <ion-item ui-sref="day7" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Sunday, 07.08.</ion-item>
            <ion-item ui-sref="day8" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Monday, 08.08.</ion-item>
            <ion-item ui-sref="day9" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Tuesday, 09.08.</ion-item>
            <ion-item ui-sref="day10" class="item-icon-left">
                <i class="icon ion-ios-calendar"></i>Wednesday, 10.08.</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
