<ion-view title="Welcome to Belgrade" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
    	<ion-slide-box>
    	 <ion-slide>
        <p id="welcomeToBelgrade-markdown2" style="color:#AAA9A9;font-size:20px;" class=" ">Belgrade is the capital and largest city of Serbia. It is located at the confluence of the Sava and Danube rivers, where the Pannonian Plain meets the Balkans. Its name translates to "White city". The city proper has a population of 1.23 million,
            while over 1.65 million people live within the administrative limits.</p>
        <div class="">
            <img src="img/8WUWDCDiRO6mwYMyDisD_slika5.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
      <!--  <div class="spacer" style="width: 300px; height: 46px;"></div> -->
        </ion-slide>

        <ion-slide>
         <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
        <p id="welcomeToBelgrade-markdown3" style="color:#AAA9A9;font-size:20px;" class=" ">First written records about the Slav town by the name of Belgrade date back to 878. AD during the rule of the First Bulgarian Empire, alluding to the impression that the fortress made out of white stone gave to onlookers from the riverside and the Panonian plains For about four centuries, the city remained a battleground between the Byzantine Empire, the Kingdom of Hungary and the Bulgarian Empire. The city finally falls under Serb rule as part of Srem in 1284</p>
        <div class="">
            <img src="img/zkoidYFSqauVlkNcglxY_slika8.jpg" width="100%" height= "auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
      <!--  <div class="spacer" style="width: 300px; height: 46px;"></div> -->
       </ion-scroll>
        </ion-slide>

        <ion-slide>
          <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
        <p id="welcomeToBelgrade-markdown4" style="color:#AAA9A9;font-size:20px;" class=" ">
            On 28 August 1521, the fort was finally captured by Ottoman Sultan Suleyman the Magnificent and his 250,000 soldiers; subsequently, most of the city was razed to the ground and its entire Orthodox Christian population was deported to Istanbul,
            to an area that has since become known as the Belgrade forest.Belgrade was made the seat of the district, becoming the second largest Ottoman town in Europe at over 100,000 people, surpassed only by Constantinople. During the First Serbian
            Uprising, the Serbian revolutionaries held the city from 8 January 1807 until 1813, when it was retaken by the Ottomans.After the Second Serbian Uprising in 1815, Serbia reached semi-independence. In 1841, Prince Mihailo Obrenović moved the
            capital from Kragujevac to Belgrade.</p>
        <div class="">
            <img src="img/L51zwXR3yVYujtcwjZIw_slika7.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
          <div class="spacer" style="width: 300px; height: 50px;"></div>
         </ion-scroll>
        </ion-slide>

        <ion-slide>
         <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
        <p id="welcomeToBelgrade-markdown5" style="color:#AAA9A9;font-size:20px;" class=" ">With the Principality's full independence in 1878, and its transformation into the Kingdom of Serbia in 1882, Belgrade once again became a key city in the Balkans, and developed rapidly.Nevertheless, conditions in Serbia as a whole remained those
            of an overwhelmingly agrarian country, even with the opening of a railway to Niš, Serbia's second city, and in 1900 the capital had only 70,000 inhabitants(at the time Serbia numbered 1.5 million). Yet by 1905 the population had grown to more
            than 80,000, and by the outbreak of World War I in 1914, it had surpassed the 100,000 citizens, not counting Zemun which then belonged to Austria-Hungary In 1927, Belgrade's first airport opened, and in 1929, its first radio station began
            broadcasting. The Pančevo Bridge, which crosses the Danube, was opened in 1935,] while "King Alexander Bridge" over the Sava was opened in 1934. In the second world war the city was heavily bombed by the Luftwaffe on 6 April 1941, killing
            up to 24,000 people. Yugoslavia was then invaded by German, Italian, Hungarian, and Bulgarian forces. Most of the city remained under German occupation until 20 October 1944, when it was liberated by the Red Army and the Communist Yugoslav
            Partisans.During the post-war period, Belgrade grew rapidly as the capital of the renewed Yugoslavia, developing as a major industrial center.</p>
        <div class="">
            <img src="img/msEs12PqRcSNm8Lx1YGT_slika6.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 56px;"></div>
      </ion-scroll>
    </ion-slide>

    <ion-slide>
       <ion-scroll zooming="true" direction="xyz" style="width: auto; height: 500px;">
        <p id="welcomeToBelgrade-markdown6" style="color:#AAA9A9;font-size:20px;" class=" ">Today the historic areas and buildings of Belgrade are among the city's premier attractions. They include Skadarlija, the National Museum and adjacent National Theatre, Zemun, Nikola Pašić Square, Terazije, Students' Square, the Kalemegdan Fortress,Knez Mihailova Street, the Parliament, the Church of Saint Sava, and the Old Palace. On top of this, there are many parks, monuments, museums, cafés, restaurants and shops on both sides of the river. The hilltop Avala Monument and Avala Toweroffer views over the city. Ada Ciganlija is a former island on the Sava River, and Belgrade's biggest sports and recreational complex. oday it is connected with the right bank of the Sava via two causeways, creating an artificial lake. Extreme sports are available, such as bungee jumping, water skiing, and paintballing. Apart from Ada, Belgrade has total of 16 islandson the rivers, many still unused.</p>
        <div class="">
            <img src="img/I0p0sjOQxeaJjXuS3sbB_slika2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="about" id="welcomeToBelgrade-button1" style="font-weight:500;font-size:23px;" class=" button button-royal  button-block ">Back to About :)</a>
    </ion-scroll>
    </ion-slide>
       </ion-slide-box>
    </ion-content>
</ion-view>